:root {
  --color-bg: #ffffff;
  --color-bg-soft: #f5f5f5;
  --color-text-primary: #1f1f1f;
  --color-muted: #6b7280;
}

[data-theme="dark"] {
  --color-bg: #0f172a;
  --color-bg-soft: #1e293b;
  --color-text-primary: #f1f5f9;
  --color-muted: #94a3b8;
}


@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}


body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}